.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-text {
  color: #282c34;
  display: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  background-color: black;
  color: white;
}

img {
  height: 360px;
  width: 360px;
}

.lyrics-css {
  width: 1000px;
  height: 725px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.player-css {
  width: 360px;
  height: 400px;
}

.preformatted {
  white-space: pre;
}

.get-lyrics {
  color: yellow;
}

.get-song {
  color: yellow;
}